---
layout: recipe
title: Recipes
---

<ul>
  {% for collection in site.collections %}
    {% unless collection.label == 'posts' %}
      {% assign words = collection.label | split: '_' %}
      {% capture titlecase %}{% for word in words %}{{ word | capitalize }} {% endfor %}{% endcapture %}
        <li><a href="{{ site.baseurl }}/{{ collection.label }}.html">{{ titlecase }}</a></li>
    {% endunless %}
  {% endfor %}
</ul>

<html>
  <head>
    <style type="text/css">
      * {
        padding: 0;
        margin: 0;
        font-family: sans-serif;

      div#content {
        position: relative;
        z-index: 10;
      }
        
     div.link a {
        display: inline-block;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 0px 10px 10px 0px;
        color: black;
        font-weight: bold;
        margin: 10px 0;
        padding: 10px;
        text-decoration: none;
      }
    </style>
  </head>
   <body>
    <div id="content">
      <a rel="me" href="https://mastodon.social/@mud212">Mastodon</a>
    </div>
      
    <div id="background"></div>
  </body>
</html>
