<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>
      {% assign name = title %}
      
      {% if pagination %}
        {% capture title %}
          {{ pagination.items[0].name }}
        {% endcapture %}
      {% endif %}
      mudz.me
      {% if layout == "recipe" %} | Recipes {% endif %}
      {% if title %} | {{ title }}{% endif %}
    </title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,maximum-scale=2" />

    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://mudz.me{{ page.url }}"
    />
    {% if layout == "recipe" %}
      <meta
        property="og:title"
        content="Recipe{% if title %}: {{ title }}{% endif %}"
      />
      {%- if description %}
        <meta property="og:description" content="{{ description }}" />
      {% else %}
        <meta
          property="og:description"
          content="Put some ingredients together and make them hot, probably."
        />
      {% endif %}
      {% imageMeta page %}
    {% else %}
      <meta property="og:title" content="mudz.me" />
    {% endif %}

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body>
    {% include "header.html" %}

    {% if layout == "recipe" %}
      {% assign crumbs = page.outputPath | getCrumbs %}
      {% include "sidenav", crumbs: crumbs %}
    {% endif %}

    <main>{{ content }}</main>

    <script type="module" src="/js/main.js"></script>
  </body>
</html>
