<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>mudz.me</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,maximum-scale=2" />

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script type="text/javascript" src="/js/preload.js" />
  </head>
  <body>
    <ld-header site-name="mudz.me" logo-url="/" sticky>
      <ld-icon size="lg" slot="logo">
        <img src="/assets/pookie.svg" style="width: 24px" />
      </ld-icon>
      <div slot="end"><a href="/recipes">Recipes</a></div>
      <div slot="end">
        <a href="https://mastodon.social/@mud212" rel="me">Mastodon</a>
      </div>
    </ld-header>

    <div style="display: flex">
      <ld-sidenav open>
        {% for c in collections.recipes %}
        <ld-sidenav-navitem mode="secondary"
          ><a href="/{{ c.dir }}/">{{ c.name }}</a>
          <ld-badge>{{ c.pages.length }}</ld-badge></ld-sidenav-navitem
        >
        {% endfor %}
      </ld-sidenav>

      <main>{{ content }}</main>
    </div>
    <script type="module" src="/js/main.js"></script>
  </body>
</html>
