<header>
  <a class="home" href="/">
    <img src="/assets/pookie.svg" />
    <div>mudz.me</div>
  </a>
  <a href="/recipes">recipes</a>
  {% if layout == "recipe" %}
    <div>
      <button class="big search-button">🔍</button>
      {% include "search" %}
    </div>
  {% else %}
    <div></div>
  {% endif %}
</header>
{% if layout == "recipe" %}
  {% if title != "Recipes" %}
    {% assign crumbs = page.outputPath | getCrumbs %}
    {% include "crumbs", crumbs: crumbs %}
  {% endif %}
{% endif %}
