---
layout: default
---

{% if pagination %}
  {% capture title %}
    {{ pagination.items[0].name }}
  {% endcapture %}
{% endif %}

<recipe {% unless pagination %}data-pagefind-body{% endunless %}>
  {% for term in search %}
  <span style="display:none;" data-pagefind-weight="8">
    {{ term }}{% if forloop.last %}.{% else %},{% endif %}
  </span>
  {% endfor %}
  
  {% if title %}
  <h1>{{ title }}</h1>
  {% endif %} {% if description %}
  <blockquote>{{ description }}</blockquote>
  {% endif %} {% recipeImage page %} {{ content }}
</recipe>
