---
layout: null
---

@import '@emdgroup-liquid/liquid/dist/css/liquid';

:root {
  --ld-header-bg-col: yellow;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--ld-col-vy-300);
  font-family: var(--ld-font-body);
  color: black;

  &.no-wc {
    * {
      display: none;
    }
  }

  &:before{
    background-image: url(/assets/pookie.svg);
    background-size: 100%;
    background-position: 0 35%;
    background-attachment: fixed;
    position: fixed;
    content: '';
    display: block;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    opacity: 0.4;
  }

  ld-header.ld-header {
    background-color: var(--ld-col-vy-200);
    color: black;
  }

  ld-sidenav.ld-sidenav {
    position: initial;
    padding-top: 1rem;
  }

  ld-input[type="search"] {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  main {
    #search-results { 
      display: none;
    }

    &[data-search-active="true"] {
      #search-results {
        display: block;
        position: fixed;
        background: black;
        background: var(--ld-col-rb-900);
        color: white;
        margin-left: -5rem;
        padding: 1rem;
        border-radius: var(--ld-br-m);

        ul {
          margin: 0;
          padding: 0;
          padding-left: 1rem;
        }

        a, a:visited { color: white; }
      }
    }

    position: relative;
    // z-index: 10;
    padding: 1rem 4rem;
    max-width: 800px;
    // margin: 0 auto;
    background-color: var(--ld-col-vy-050);
  }
}