---
layout: null
---

@use "components/badge";
@use "components/crumbs";
@use "components/header";
@use "components/recipe";
@use "components/search";
@use "components/sidenav";

html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  opacity: 1;
  background-color: #e4b638;

  .big {
    transform: scale(2, 2);
  }

  &:before {
    background-image: url(/assets/pookie.svg);
    background-size: cover;
    background-position: 0 35%;
    background-attachment: fixed;
    position: fixed;
    content: "";
    display: block;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    opacity: 0.4;
    z-index: -1;
  }

  main {
    background: #fff3d9;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    max-width: 800px;
    line-height: 1.35;

    @media only screen and (min-width: 768px) {
      display: inline-block;
      vertical-align: top;
      min-width: 500px;
    }

    ul {
      li {
        margin: 1rem 0;
      }
    }
  }
}
