recipe {
  blockquote {
    background: rgba(0, 0, 0, 0.085);
    padding: 0.5rem;
    margin: 0.5rem 0;
    margin-top: -1rem;
    font-style: italic;
  }

  ul {
    @media only print {
      // Ingredients in three columns
      columns: 3;
    }

    li {
      @media only print {
        line-height: 1;
      }
    }
  }

  img {
    display: none;
    @media only screen {
      display: initial;
      max-width: 100%;

      @media only screen and (min-width: 768px) {
        float: right;
        max-width: 60%;
      }
    }
  }
}
