button.search-button {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.search-container {
  display: block;
  position: absolute;
  right: 0;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0 0 0 5px;
  background: white;
  box-shadow: #555 0 3px 5px;

  &.closed {
    display: none;
  }

  .header {
    display: block;
    input {
      width: 100%;
      font-size: 1.5rem;
      font-weight: 200;
    }
  }

  .results {
    display: block;
    max-width: 600px;
    max-height: 80vh;
    overflow-y: scroll;

    ul {
      list-style: none;
      margin-top: 1rem;
      margin-bottom: 0;
      padding: 0;

      li {
        display: flex;

        + li {
          margin-top: 1rem;
          border-top: 1px solid #ddd;
          padding-top: 1rem;
        }

        div.img {
          width: 48px;
          min-width: 48px;
          height: 48px;
          background-size: cover;
          background-position: center;
        }

        div.info {
          margin-left: 1rem;
          h3 {
            margin-top: 0;
          }

          max-height: 100px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
